:root {
    --primary-color: #587291;
    --secondary-color: #2F97C1;
    --accent1-color: #1CCAD8;
    --accent2-color: #1526e6;
    --heading-font: "Playfair Display", serif;
    --body-font: "Ubuntu";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


header {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* justify-content: space-around; */
    align-items: center;
}

header img {
    width: 150px;
    height: auto;
    margin: 1rem auto;
}

.anchor {
    display: flex;
    justify-content: center;
    gap: 3rem;
    /* margin: auto 2rem; */
}



body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

main {
    background-color: lightcyan;

}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    font-style: italic;
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 15px;
    padding: 8px;
}

nav a {
    color: rgb(15, 215, 233);
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    /* position: relative; */
    display: grid;
    grid-template-rows: auto auto auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 1;

}

h1 {
    /* position: absolute; */
    /* top: 20px; */
    width: 100%;
    padding: 16px;
    text-align: center;
    /* background-color: var(--accent2-color); */
    /* color: var(--accent2-color); */
}

.hero h1 {
    grid-row: 1;
    grid-column: 1;
    padding-top: 4rem;
}

.hero article {
    /* position: absolute; */
    /* top: 60px; */
    width: 100%;
    text-align: center;
    color: var(--accent2-color);
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    display: flex;
    padding: 10%;
}

.hero article img {
    /* float: right; */
    margin: 20px;
    width: 250px;
    border: solid 1px rgba(11, 55, 150, 1);
    box-shadow: 0 0 30px rgb(28, 132, 217);
    order: 1;
}

.socialmedia a img {
    width: 20px;

}

.history-centered {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 0;
    margin-top: 5%;
}

.history-centered h2 {
    grid-column: span 3;
    grid-row: 1;
    text-align: center;
}

.history-centered img {
    grid-column: 2/3;
    width: 200px;
    height: auto;
    justify-self: center;
    align-self: center;
    border-radius: 25px;
}

.left {
    grid-column: 1/2;
    grid-row: 2/3;
}

.right {
    grid-column: 3/4;
    grid-row: 2/3;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.employee {
    margin: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.employee img {
    width: 250px;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 550px 1fr;

}

.contact {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10px;
    padding: 0;
}

.adress {
    grid-column: 1 / 3;
}

.contact p {
    margin: 0;
    padding: 0;
}

.strong {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

label {

    font-family: var(--heading-font);
    font-style: italic;
}

.map {
    grid-column: 2 / 3;
}

.map iframe {
    margin-top: 140px;
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

form {
    grid-area: 1 / 1 / 2 / 2;
}


.form-container {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10px;
}

input[type="text"],
[type="email"],
textarea {
    padding: 10px;
}

button {
    justify-content: right;
    align-self: center;
    padding: 0.75rem;
    color: #e0e0e0;
    background-color: #3f4fb8;
    border-radius: 25px;
    margin: 1.5rem;
    position: relative;
    left: 160px;
}

button:hover {
    background-color: #041157;
}

.radio-group {
    padding: 0.5rem;
    margin: 10px 0;
}

.subscription {
    display: flex;
    gap: 20px;
}

.form-container h1 {
    text-align: left;
}


.adventure h2 {
    grid-row: 1;
    grid-column: span 5;
}

.adventure img {
    grid-row: 2;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(224, 17, 17, 0.1);
}

footer {
    /* margin: 0.5rem; */
    display: flex;
    justify-content: flex-end;
    padding-left: 1.5rem;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
}

footer a {
    align-self: center;
}