* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1.2rem;
    font-size: 1.55rem;
    color: navy;
    text-align: center;
    font-family: Roboto, Playfair Display, Arial, Helvetica, sans-serif;
}

form {
    /* font-family: "Playfair Display", "Roboto", Arial, sans-serif; */
    /* font-size: 1.2rem; */
    color: #332;
    background: #fff;
    width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    display: grid;
}

fieldset {
    display: grid;
    /* grid-template-rows: 100px 100px 100px; */
    grid-gap: 0.5rem;
    margin: 1.5rem;
    padding: 2rem;
    border: 1px solid rgb(0, 0, 0);

}

legend {
    font-style: italic;
    font-family: Playfair Display, Roboto, Arial, sans-serif;
    font-weight: 600;
    padding: 0.5rem;
    border: 1px solid;
    background-color: beige;
}

label,
input,
button,
select,
textarea {
    font-family: Ubuntu, Playfair Display, Arial, Helvetica, sans-serif;
}

label {
    text-align: right;
    padding-right: 1.2rem;
}

input,
select,
option,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 18px;
    vertical-align: bottom;
}

button {
    margin: auto 50%;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
}

button:hover {
    background-color: green;
}