*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 140px;
    height: auto;
    border: 1px solid black;
    padding: 8px;
    margin: 0 0 1rem 1rem;
    background-color: antiquewhite;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 1000px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    left: 40%;
    
}

aside img {
    width: 95%;
    height: auto;
}

footer {
    margin-top: 200px;
    border-top: 1px solid white;
    text-align: center;
}

/* class Selectors  */

.box {
    margin: .5rem;
    border: 1px solid rgba(4, 87, 4, 0.2);
    padding: 1rem;
    background-color: #cfe3ea;
    color: #333;
}

.indent {
    padding-left: 2rem;
}