nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 159px;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 1000px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(8, 51, 8, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 200px;
    border-top: 1px solid white;
    text-align: center;
}