*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto";

}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: rgb(4, 4, 69);
    border-bottom: 1px solid ;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: italic;
}

main img {
    width: 140px;
    height: auto;
    border: 1px solid black;
    padding: 8px;
    margin: 0 0 1rem 1rem;
    background-color: antiquewhite;
    box-shadow: 0 0 30px gray;
    float: right;
}

.grid {
    display:grid;
    font-family: "Roboto";
}

main {
    grid-column: 2/3;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    left: 40%;
    top: 2rem;
}

aside img {
    width: 95%;
    height: auto;
}

footer {
    border-top: 1px solid steelblue;
    text-align: center;
    font-family: "Playfair Display";
    padding: 10px;
    font-style: italic;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/*Class Selectors*/

.box {
    margin: .5rem;
    border: 1px solid rgba(4, 87, 4, 0.2);
    padding: 1rem;
    background-color: #cfe3ea;
    color: #333;
}

.indent {
    padding-left: 2rem;
}

